.su-icon {
    color: inherit;
    &--xsmall {
        font-size: 12px;
    }
    &--small {
        font-size: 14px;
    }
    &--medium {
        font-size: 18px;
    }
    &--large {
        font-size: 24px;
    }
    &--xlarge {
        font-size: 32px;
    }
}
