.su-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: inherit;
  z-index: 0;
  pointer-events: none;
  border-radius: inherit;

  &__wave {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background: currentColor;
    border-radius: 50%;
    &--animate {
      animation: ripple 0.5s cubic-bezier(0.15, 0.36, 0.83, 0.55);
      @keyframes ripple {
        0% {
          transform: scale3d(0, 0, 0);
          opacity: 0.3;
        }

        100% {
          opacity: 0;
          transform: scale3d(2, 2, 2);
        }
      }
    }
  }
}
