// Scale in
.su-anim--scaleIn-enter-active, .su-anim--scaleIn-leave-active {
  transition: transform .15s
}
.su-anim--scaleIn-enter, .su-anim--scaleIn-leave-to {
  transform: scale(0)
}

// Fade Down
.su-anim--fadeDown-enter-active, .su-anim--fadeDown-leave-active {
  transition: transform .15s, opacity .4s
}
.su-anim--fadeDown-enter, .su-anim--fadeDown-leave-to {
  transform: translateY(8px);
  opacity: 0;
}

// Fade Right
.su-anim--fadeRight-enter-active, .su-anim--fadeRight-leave-active {
  transition: transform .15s, opacity .4s
}
.su-anim--fadeRight-enter, .su-anim--fadeRight-leave-to {
  transform: translateX(16px);
  opacity: 0;
}