$primary: #9a30ad !default;

$primary-light: tint($primary, 20%);
$primary-lighter: tint($primary, 40%);

$theme: (
    primary: $primary,
    primaryLight: $primary-light,
    primaryLighter: $primary-lighter
);

.primary {
    background-color: theme(primary) !important;
}

.primary--text {
    color: theme(primary) !important;
}
