$primary: #312cae !default;
$accent: #4d2de7 !default;

$primary-light: tint($primary, 20%);
$primary-lighter: tint($primary, 40%);

$primary-dark: shade($primary, 20%);
$primary-darker: shade($primary, 40%);

$alert: #ff224a !default;

$theme: (
    primary: $primary,
    accent: $accent,
    primaryLight: $primary-light,
    primaryLighter: $primary-lighter,
    primaryDark: $primary-dark,
    primaryDarker: $primary-darker,
    gradient: linear-gradient(to right, $primary , $accent),
    alert: $alert,
);

.primary {
    background-color: theme(primary) !important;
}

.primary--text {
    color: theme(primary) !important;
}
